/* #region base */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: #111111;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
/* #endregion */
/* #region common */
.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.ingridient,
.made,
.products,
.bestsellers,
.reviews {
  padding: 60px 0;
}
.section-title-accent {
  color: #fd9222;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}
.container {
  width: 1168px;
  margin: 0 auto;
  padding: 0 16px;
}
/* logo */
.logo {
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  font-weight: 700;
}
/* btn */
.btn {
  font-weight: 600;
  font-size: 14px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid transparent;
  min-width: 144px;
  min-height: 45px;
  padding: 14px 40px;
}
.btn-accent {
  color: #fff;
  background-color: #fd9222;
}
.btn-accent:hover,
.btn-accent:focus {
  color: #fd9222;
  background: #fcf1e0;
}
.btn-primary {
  color: #fff;
  border-color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.btn-secondary {
  font-size: 18px;
  color: #111;
  border-color: #fd9222;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background: #fd9222;
  color: #fff;
}
.scroll-down {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;

  display: inline-flex;
  align-items: center;
  margin-left: auto;
  gap: 14px;
}
.scroll-down:hover,
.scroll-down:focus {
  color: #fd9222;
}
/* #endregion */
/* #region header */
.header {
}
.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 90px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.logo-icon {
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-item {
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  display: block;
  padding: 32px 0;
  position: relative;
  transition: 300ms ease-in;
  transition-property: color;
}
.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}
.nav-link.active::after {
  content: '';
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: #fd9222;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.socials {
  display: flex;
  gap: 14px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 8px;
  color: #111111;
  transition: 300ms ease-in;
  transition-property: color, border-color;
}
.socials-link:hover,
.socials-link:focus {
  color: #fd9222;
  border-color: rgba(253, 146, 34, 0.1);
}
.socials-icon {
  fill: currentColor;
}
/* #endregion */
/* #region hero */
.hero {
  padding-bottom: 80px;
}
.hero-container {
  border-radius: 30px;
  width: 1136px;
  padding: 381px 40px 40px;
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.4);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/hero-bg_desk@2x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  width: 484px;
}
.btn {
}
.btn-accent {
}
.btn-primary {
}
.scroll-down-icon {
}
.hero-wrapper {
  display: flex;
  gap: 14px;
}
/* #endregion */
/* #region benefits */
.benefits {
  background-color: #1e1823;
  padding: 50px 0;
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-item {
  width: 308px;
  position: relative;
}
.benefits-item:not(:last-child)::after {
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 124px;
  width: 1px;
  display: block;
  position: absolute;
  top: 50%;
  right: -45px;
  transform: translateY(-50%);
}
.benefits-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}
.benefits-subtitle {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion */
/* #region ingridient  */
.ingridient {
  padding-top: 120px;
}
.ingridient-title {
}
.ingridient-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingridient-item {
  width: calc((100% - 96px) / 4);
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 28px 23px;
}
.ingridient-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #ffffff;
}
.ingridient-item:nth-child(2n) {
  border: 1px solid #fd9222;
}
.ingridient-item:nth-child(4n + 3) {
  background: #1e1823;
  color: #ffffff;
}
.btn-arrow {
  background-color: transparent;
  stroke: none;
}
.ingridient-arrow {
  stroke-width: 1px;
  stroke: #fafafa;
}
.ingridient-img {
}
.ingridient-caption {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 36px;
}
/* #endregion */
/* #region made */
.made {
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-left-side {
  border-radius: 15px;
  width: 600px;
  overflow: hidden;
  position: relative;
}
.made-btn {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 22px);

  border-radius: 100%;
  stroke-width: 1px;
  stroke: #fff;

  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.made-right-side {
  border-radius: 15px;
  width: 516px;
  background-color: #fff;
  padding: 32px;
}
.made-title {
}
.made-ill {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
  width: 350px;
}
.made-list {
}
.made-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-item:not(:last-child) {
  margin-bottom: 24px;
}
/* #endregion */
/* #region products */
.products {
}
.products-title {
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}
.products-item {
  width: calc((100% - 54px) / 4);
  padding: 32px 20px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
.products-wrapper {
  margin: 8px 18px;
  text-align: center;
}
.products-img {
}
.products-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-type {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.products-btn {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  display: block;
  margin: 8px 20px;
  margin: 0 auto;

  font-weight: 600;
  font-size: 14px;
  background-color: #fafafa;
}
/* #endregion */
/* #region bestsellers */
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
  display: flex;
  gap: 16px;
}
.bestsellers-item {
  width: calc((100% - 32px) / 3);
}
.bestsellers-ill {
  border-radius: 15px 15px 0 0;
}
.bestsellers-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background: #fff;

  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  width: 368px;
  height: 80px;
  padding: 28px;
  text-align: center;
}
.bestsellers-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );

  display: flex;
  align-items: center;

  transform: translateY(100%);
  transition: transform 300ms ease-in-out;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding: 40px;
}
.bestsellers-item:hover .overlay {
  transform: translateY(0);
}
/* #endregion */
/* #region reviews */
.reviews {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 91px;
}
.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}
.reviews-item {
  width: calc((100% - 56px) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 56px 24px 24px;
  position: relative;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
}
.reviews-avatar {
  margin: 0 auto;

  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
}
.reviews-author {
  margin-bottom: 24px;
  margin-top: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
}
.reviews-desc {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
  display: block;
  margin: 0 auto;
}
/* #endregion */
/* #region footer */
.footer {
  background: #1e1823;
  padding: 50px;
}
.footer-top {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-wrapper {
  margin-left: auto;
}
.footer-slogan {
  width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-slogan-accent {
  color: #fd9222;
}
.footer-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 14px;
}
.footer-socials {
}
.socials {
}
.socials-item {
}
.footer-socials .socials-link {
  color: #fff;
}
.footer-socials .socials-link:hover,
.footer-socials .socials-link:focus {
  color: #fd9222;
  border-color: rgba(253, 146, 34, 0.1);
}
.socials-link {
}
.socials-icon {
}
.footer-contacts {
  margin-left: 50px;
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.footer-contacts-list {
}
.footer-contacts-item {
}
.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: #fd9222;
}
.footer-nav {
  display: flex;
  gap: 24px;
}
.footer-nav-item {
}
.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
  padding: 18px 0;

  display: block;
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #fd9222;
}
.footer-bottom {
  padding-top: 24px;
}

/* #endregion */
